body{
	background:#789a00;
	margin:0;
}

header{
	width:100%;
	min-width:1080px;
}
header a{
	text-decoration:none;
}
span#logout,span#login{
	color:white;
	font-size:20px;
	cursor:pointer;
	position:absolute;
	top:20px;
	right:60px;
}
.main_content{
	width:1080px;
	height:auto;
	//background:#973636;
	margin:0 auto 100px auto;
}
.message{
	font-family:Permanent Marker;
	color:#acacac;
	font-size:24px;
	
}




.noUi-target {
  margin: 100px auto;
  width: 40%;
  background: transparent;
  border: none;
  box-shadow: none;
  background: #3f3d38;
}

.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  background: #1fbcd2;
  border-radius: 28px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
  content: '';
  background: transparent;
}

.noUi-base {
  z-index: 1;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: none !important;
  transition: none !important;
}

.fake-fill {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  background: black;
  z-index: 0;
}
